@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>


@*<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">*@
<_ChildComponent @ref="childComp" OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">
    <ChildContent>Fragement From Parent! WooHOO!</ChildContent>
    <DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent>

</_ChildComponent>


<p><b>@messageText</b></p>
@*Placeholder="Placeholder from Parent" MaxLength="5" *@
@*<_AnotherChildComponent></_AnotherChildComponent>*@

@*<_AnotherChildComponent InputAttributes="InputAttributesFromParent"></_AnotherChildComponent>*@
<_AnotherChildComponent placeholder="Placeholder from Parent"></_AnotherChildComponent>


<CascadingValue Value="@MessageForGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="luckyNumber">
        <_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component"></_ChildComponent>
    </CascadingValue>
</CascadingValue>


<div class="row">
    <button class="btn btn-success" @onclick="()=>childComp.ToastrSuccess()">Show SweetAlert</button>
</div>


@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {

    private _ChildComponent childComp;
    public string messageText = "";
    //public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    //{
    //    { "required" , "required"},
    //    { "placeholder", "Enter Name From Parent"},
    //    { "maxlength", 5}
    //  };
    public string MessageForGrandChild = "This message is from your grand parent (ParentComponent)";
    public string LuckyNumber = "7";
    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";

    }
}
