@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>


<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">

    <ChildContent>Fragement From Parent! WooHOO!</ChildContent>
    <DangerChildContent>Danger Content from Render Fragement! WooHOO!</DangerChildContent>

</_ChildComponent>

<p><b>@messageText</b></p>
@*Placeholder="Placeholder from Parent" MaxLength="5" *@
@*<_AnotherChildComponent></_AnotherChildComponent>*@

@*<_AnotherChildComponent InputAttributes="InputAttributesFromParent"></_AnotherChildComponent>*@
<_AnotherChildComponent placeholder="Placeholder from Parent"></_AnotherChildComponent>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component"
                 MessageForGrandChild="This message is from your grand parent (ParentComponent)"></_ChildComponent>

@*<_ChildComponent Title="This is second child component">
</_ChildComponent>*@

@code {
    public string messageText = "";
    //public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    //{
    //    { "required" , "required"},
    //    { "placeholder", "Enter Name From Parent"},
    //    { "maxlength", 5}
    //  };

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }
}
